{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block mybody %}
    <div class="center-div">
    <div class="jumbotron">
        <h1>Добро пожаловать в Олимплан!</h1>
        <br>
        <h4>Олимплан это круто, офигенно, стильно, модно, молодёжно. Мы вам про олимпиадки расскажем, вот. И там типа уведомления,
        календари, в общем збс, советую.</h4>
        <br>
        <h4>Оставьте свой email, чтобы получить доступ к бета-версии:</h4>
        <br>
            <form method="POST" action="">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.email) }}
                <p>
                    <input type="submit", class="btn btn-primary", value="Подписаться">
                </p>
            </form>
        </div>
    </div class="center-div">
{% endblock %}
